/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/*asterix wildcard to override default styles added by browser*/
* {
    padding: 0;
    margin: 0;
    /*box sizing for all elements to border box to set hight and width of element will be applied
    to entire element including border*/
    box-sizing: border-box;
}

/*general style rule*/
body {
    /*Using min-height will allow to stretch larger than the height of the
screen when there is enough content on the page that the user needs to scroll.*/
    min-height: 100vh;
    /* set the display to flex and the flex-direction
    to column, so elements will still show underneath each other*/
    display: flex;
    flex-direction: column;
    /* generic project style*/
    color: black;
}


/* specific style rules */

header {
    background-color: beige;
}

main {
    background-color: burlywood;
    /* flex 1 0 auto ->Need the main element to take up any surplus space*/
    flex: 1 0 auto;
}

footer {
    background-color: cadetblue;
}